
<ion-tabs class="tabs-icon-top tabs-color-active-positive"  animation="slide-left-right-ios7">

    <!-- Dashboard Tab -->
    <ion-tab title="推荐" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/recommend" >
        <ion-nav-view name="tab-recommend"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="投资" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/investment" >
        <ion-nav-view name="tab-investment"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="账户" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account" >
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
    <!-- More Tab -->
    <ion-tab title="更多" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/more" >
        <ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>

</ion-tabs>